body{
    background-color:#fff;
}

.accordion{
    height:500px;
    width:330px;
    margin-bottom:200px;
    background-color:rgba(247, 245, 245, 0.932);
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3); 
    border-radius: 3px;
    margin-top:100px;
    margin-left: 550px;
    border: 1px solid #e7e9e9;
    

}

#login{
    height:300px;
    width:330px;
    margin-bottom:200px;
    background-color:rgba(247, 245, 245, 0.932);
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3); 
    border-radius: 3px;
    margin-top:100px;
    margin-left: 550px;
    border: 1px solid #e7e9e9;
    

}
input{
    width:310px;
    margin-left:10px
}

form{
    display:flex;
    flex-direction: column;
    gap:10px;


}

.gmail-login-button {
    width:300px;
    margin-top:20px;
    margin-left:10px;
    display: flex;
    justify-content: center; /* Horizontally centers the content */

    align-items: center;
    background-color: white;
    color: #4285F4; /* Google Blue */
    border: 1px solid #4285F4;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .gmail-login-button img {
    text-align: center;
    align-items: center;
    height: 20px;
    margin-right: 10px;
  }
  
  .gmail-login-button:hover {
    background-color: #4285F4;
    color: white;
  }
  
  .divider{
     margin-top: 30px;
     margin-left: 140px;
  }

  

